<h1>Mortalitiy Rates</h1>
<% @mortalities.each do |m| %>
	<li>
		<%= "#{m.name}: #{m.rate*100}%" %>
		<%= link_to "(source)", m.source %>
		<%= link_to " - See Details", "/mortality/#{m.id}" %>
	</li>
<% end %>
